{% set headerData = languages[lang].header %}
{% set navItems = languages[lang].navigation.items %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ ('/' + lang + '/') | url }}">{{ headerData.brandName }}</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ headerData.mobileMenuLabel }}">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for item in navItems %}
                    <li class="nav-item{% if item.subnav %} dropdown{% endif %}">
                        {% if item.subnav %}
                        <a class="nav-link dropdown-toggle{% if page.url.startsWith(item.url) %} active{% endif %}" href="#" id="navbarDropdown-{{ item.slug }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ item.title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ item.slug }}">
                            <li><a class="dropdown-item" href="{{ ('/' + item.url) | url }}">{{ item.title }} {{ headerData.overviewLabel or "Overview" }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% for subitem in item.subnav %}
                            <li><a class="dropdown-item{% if page.url == subitem.url %} active{% endif %}" href="{{ ('/' + subitem.url) | url }}">{{ subitem.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a class="nav-link{% if page.url == item.url %} active{% endif %}" href="{{ ('/' + item.url) | url }}">{{ item.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                
                {# Search form #}
                <form class="d-flex me-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="{{ headerData.searchPlaceholder }}" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                </form>
                
                {# Language switcher #}
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-globe"></i> {{ headerData.languageLabel }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        {% for language in config.languages.languages %}
                        {% if language.enabled %}
                        <li>
                            <a class="dropdown-item{% if lang == language.code %} active{% endif %}" href="{{ ('/' + language.code + '/' + (slug + '/' if slug else '')) | url }}">
                                {{ language.name }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>